<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,400;0,700;1,200;1,800&display=swap">
        <link rel="stylesheet" href="static/css/main.css">
        <link rel="stylesheet" href="static/css/button.css">
        <link rel="stylesheet" href="static/css/records.css">
        <link rel="stylesheet" href="static/css/modal.css">
        <script type="text/javascript" src="static/js/main.js" defer></script>
        <script>
            var code = JSON.parse('{{ code | tojson | safe }}');
            var title = JSON.parse('{{ title | tojson | safe }}');
            var category = JSON.parse('{{ category | tojson | safe }}');
            var price = JSON.parse('{{ price | tojson | safe }}');
            var total = '{{total}}';
        </script>
        <title>Ad Search 1.0</title>
    </head>

    <body>  
        <header>        
            <h1 class="header-title"><a href="http://127.0.0.1:5000/search_ad">Find Your Product Here Final 3</a></h1>
        </header>
        <main>
            <div class="search">
                <form id="form" action="search_ad" method="post" class="form">
                    <input type="search" class="input" id="product_name" name="text" placeholder="e.g. xbox 360" oninvalid="this.setCustomValidity('Enter Your Product Here')" oninput="this.setCustomValidity('')" required>
                    <input type="submit" class="button blue mobile" id="search" value="Search">
                </form>
                <form id="form2"  method="get" class="form">
                    <input type="submit" class="button blue mobile" id="get" value="get">
                </form>
                <div id="total" class="total"><h3>Total:</h3></div>            
            </div>
            <table id="tableProduct" class="records">
                <thead>
                    <tr>
                        <th>Code</th>
                        <th>Title</th>
                        <th>Category</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>

                </tbody>
            </table>

            <div class="modal" id="modal-loading">
                <div class="loader"></div>
            </div>

            <div class="modal" id="modal-message">
                <div class="modal-content">
                    <header class="modal-header"></header>
                    <form id="form-modal-message" class="modal-form"></form>
                    <footer class="modal-footer">
                        <button id="close" class="button blue">Close</button>
                    </footer>
                </div>
            </div>

        </main>
        <footer>
            Copyright &copy; Cláudio Albano Guimarães
        </footer>
    </body>
</html>